 @import url(https://fonts.googleapis.com/css?family=Noto+Sans);  

     #map {
      height: 400px;
      width:50%;
      background-color:linear-gradient(#222, #efefef); 
    /* /* margin-left: 50px; */
      float: left; 
      display:inline-block;
      border: 2px solid black;
      border-radius: 4px;
    }
    #shopicon
    {
      display: flex;
      float: right;
      margin-right: 50px;
    }
    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0 7px 0 0;
      background-color:linear-gradient(#222, #efefef); 
      overflow-x: hidden;
      font-family: 'Nota Sans';
    }
    #root {
      display: inline-block;
      width: 100%;
      overflow-x: hidden;
    }
    #headingClass
    {
      font-family: 'Nota Sans';
    }
    #panell
    {
      display: inline-block;
      height: 400px;
      width: 100%;
      position: absolute; 
      font-family: 'Noto Sans';
      font-weight: bold;
    }
    #panel {
      height: 400px;
     width: 650px;
      /* background : linear-gradient(white, #efefef); */
      z-index: 1;
      overflow-x: hidden;
      font-family: 'Noto Sans';
      float: right;
      transition: all .2s ease-out;
      display:inline-block;
      border: 2px solid black;
      border-radius: 4px;
     }
    .open {
      width: 50%;
      height: 10%;
    }

    /* Styling for place details */
    .hero {
      width: 25%;
      height: 25%;
      max-height: 166px;
      display: block;
    }

    .place,
    p {
      font-family: 'Noto Sans';
      padding-left: 18px;
      padding-right: 18px;
    }

    .details {
      color: black;
    }

    .a {
      text-decoration: none;
      color: cadetblue;
    }
    
@media only screen and (max-width: 480px) {
  #map{
    width: 100%;
  }
  #panel{
  width: 100%;
  }
}